/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Montserrat', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #f2f2f2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f2f2f2;
}
.hero {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.ibb.co/vcbd4h6/hheadimg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}
.hero .topBar {
  display: flex;
  width: 100vw;
  height: 80px;
  position: fixed;
  background-color: #14162b;
}
.hero .topBar .logo {
  display: flex;
  width: 50%;
}
@media (max-width: 700px) {
  .hero .topBar .logo {
    width: 0%;
  }
}
@media (max-width: 500px) {
  .hero .topBar .logo {
    width: 0%;
  }
}
.hero .topBar .logo img {
  margin-top: 1.5%;
  margin-left: 20%;
  width: auto;
  height: 60px;
}
@media (max-width: 700px) {
  .hero .topBar .logo img {
    margin-left: 0%;
    display: none;
  }
}
@media (max-width: 500px) {
  .hero .topBar .logo img {
    margin-left: 0%;
    display: none;
  }
}
.hero .topBar .navBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 25%;
  width: 20%;
}
@media (max-width: 700px) {
  .hero .topBar .navBar {
    margin-left: 0%;
    width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .hero .topBar .navBar {
    margin-left: 0%;
    width: 100%;
    justify-content: space-around;
  }
}
.hero .topBar .navBar a {
  font-size: 2rem;
  text-decoration: none;
  background-color: transparent;
  color: white;
}
.hero .topBar .navBar a:hover {
  color: #c70185;
}
.hero .logo {
  height: 100px;
  width: 0 auto;
}
.hero .hero-inner {
  margin-top: 400px;
  margin-left: 60%;
  font-size: 2rem;
  text-align: center;
  color: white;
  height: 200px;
  width: 500px;
}
@media (max-width: 700px) {
  .hero .hero-inner {
    margin-left: 0%;
  }
}
@media (max-width: 500px) {
  .hero .hero-inner {
    margin-left: 0%;
  }
}
.hero .hero-inner h1 {
  margin-bottom: 4%;
  font-size: 3rem;
}
.hero .hero-inner h2 {
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 2.5rem;
}
.hero .hero-inner .myButton {
  -moz-box-shadow: inset 0px 1px 3px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 3px 0px #ffffff;
  box-shadow: inset 0px 1px 3px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  background-color: #ffffff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 23px;
  font-weight: bold;
  padding: 14px 74px;
  text-decoration: none;
  text-shadow: 1px 2px 2px #ffffff;
}
.hero .hero-inner .myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
  background-color: #f6f6f6;
}
.hero .hero-inner .myButton:active {
  position: relative;
  top: 1px;
}
.hero .hero-inner .myButton:hover {
  color: #c70185;
}
.exploreText {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 2%;
  font-size: 4rem;
  color: #484a4d;
  height: 80px;
  margin-top: 80px;
  margin-bottom: 60px;
}
.explore {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ebfcfc;
}
@media (max-width: 700px) {
  .explore {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .explore {
    display: flex;
    flex-direction: column;
  }
}
.explore .panel1 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}
.explore .panel1 img {
  width: 30%;
  height: auto;
}
.explore .panel1 p {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50%;
  font-size: 3rem;
  padding-top: 15%;
}
.explore .panel2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}
.explore .panel2 img {
  width: 30%;
  height: auto;
}
.explore .panel2 p {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50%;
  font-size: 3rem;
  padding-top: 15%;
}
.explore .panel3 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}
.explore .panel3 img {
  width: 40%;
  height: auto;
}
.explore .panel3 p {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50%;
  font-size: 3rem;
  padding-top: 7%;
}
.explore .panel4 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}
.explore .panel4 img {
  width: 40%;
  height: auto;
}
.explore .panel4 p {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50%;
  font-size: 3rem;
  padding-top: 2%;
}
.galleryText {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 2%;
  font-size: 2.8rem;
  color: #484a4d;
  height: 80px;
  margin-top: 80px;
  margin-bottom: 60px;
}
@media (max-width: 700px) {
  .galleryText {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .galleryText {
    font-size: 1.2rem;
  }
}
.ourTours {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ebfcfc;
  height: 1000px;
}
.ourTours .tour1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}
.ourTours .tour1 .img1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.ourTours .tour1 .img1 img {
  width: 65%;
  height: auto;
}
.ourTours .tour2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}
.ourTours .tour2 .img1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.ourTours .tour2 .img1 img {
  width: 70%;
  height: auto;
}
.tours {
  display: flex;
  flex-direction: column;
  height: 100px;
  color: #484a4d;
  margin-top: 80px;
  font-size: 4rem;
}
.tours h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 3rem;
  padding-top: 1%;
}
.tours p {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  padding-top: 1%;
}
@media (max-width: 700px) {
  .tours p {
    font-size: 1.7rem;
  }
}
@media (max-width: 500px) {
  .tours p {
    font-size: 1.2rem;
  }
}
.download {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
@media (max-width: 700px) {
  .download {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .download {
    flex-direction: column;
  }
}
.download .phone {
  margin-left: 10%;
}
@media (max-width: 700px) {
  .download .phone {
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .download .phone {
    margin: 0 auto;
  }
}
.download .apple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
}
@media (max-width: 700px) {
  .download .apple {
    margin-left: 0%;
  }
}
@media (max-width: 500px) {
  .download .apple {
    margin-left: 0%;
  }
}
.download .apple h2 {
  font-size: 3rem;
  margin: 2% auto;
}
.download .apple p {
  margin: 2% auto;
}
@media (max-width: 700px) {
  .download .apple img {
    display: none;
  }
}
@media (max-width: 500px) {
  .download .apple img {
    display: none;
  }
}
.socials {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ebfcfc;
  margin-top: 40px;
}
.socials .fol1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
}
.socials .fol1 P {
  display: flex;
  justify-content: center;
  margin: 1% 0%;
}
.socials .fol2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 5%;
  font-size: 2rem;
  margin-left: 47%;
}
.socials .fol2 a {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-top: 1%;
}
.foot {
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color: #ebfcfc;
}
.foot p {
  text-decoration: none;
  margin-top: 1%;
}
