/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Montserrat', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #f2f2f2;
  
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
//container
.container {
    max-width: 1000px;
    //width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
    //.border2();
    //height: 1000px;
  }


//mixins
.border1(){
    border: 2px solid red;
}
.border2(){
    border: 2px solid blue;
}
.border3(){
    border: 2px solid green;
}
.border4(){
    border: 2px solid yellow;
}
.border4(){
    border: 2px solid orangered;
}

// Mobile var
//media
@phone: ~"(max-width: 700px)";

        //mobile
       // @media @phone{
        
      //  }//media


// code below


//TOP NAV BAR
.topBar{
  display: flex;
  width: 100vw;
  height: 80px;
  position: fixed;
  background-color: #14162b;

  //GIVE A BOTTOM BORDER WITH SHADE
  //.border1();

  .logo{
      display: flex;
      width: 50%;
      //.border3();
      @media @phone {
        
        width: 20%;
        
        };//media
      
      img{
          margin-top: 1.5%;
          margin-left: 20%;
          width: auto;
          height: 60px;
          //.border3();
          //mobile
          @media @phone {
          margin-left: 0%;
          //width: 30%;
          display: none;
          };//media
          
      }
  };

  .navBar{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      //margin-right: 2%;
      margin-left: 25%;

      width: 20%;
      .border2();

       //mobile
       @media @phone{
        margin-left: 0%;
        width: 80%;
        justify-content: space-around;
        //display: none;
      };//media
      
      a{
      font-size: 2rem;
      text-decoration: none;
      background-color: transparent;
      color: white;
      };

      a:hover {
        color: rgb(199, 1, 133) ;
        //background-color: #cfc ;
      };
  };
}//END TOP NAV BAR

//video
.mainVid{
  position: relative;
  width: 100vw;
  //min-height: 100%;
  //min-width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: fill;
  z-index:-1;


  .videoContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

//MEET TEAM
.meetTeam{
    display: flex;
    justify-content: center;
    height: 60px;
    //background-color: #14162b;
    margin-top: 40px;
    margin-bottom: 20px;
    //padding-top: 1%;
    //margin-top: 200px;
    //.border2();
    p{
        display: flex;
        font-size: 4rem;
        //color: white;
        color: #484a4d;
        font-weight: bold;
        //.border3();
    }
}
//END MEET TEAM

//TEAM PROFILES
.team{
    display: flex;
    justify-content: space-around;
    background-color: #ebfcfc;
    height: 300px;
    //.border2();

    .person{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 90%;
        width: 30%;
        margin-top: 1%;
        background-color: #8fa581;
        border: 2px solid black;
        box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.46);

        .image{
            display: flex;
            justify-content: center;
            width: 50%;
            height: auto;
            border-radius: 25px;
            //margin-left: 72px;
            margin: 0 auto;
            //.border1();
        }

        h2{
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            //.border1();
        };
        p{
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            //.border1();
        };

        a{
            display: flex;
            justify-content: center;
            //align-content: center;
            width: 100%;
            //.border4();
    
        };
    }//person
}//team

//END TEAM PROFILES

//FOOTER

//socials below
.socials{
  display: flex;
  flex-direction: column;
  //justify-content: center;
  width: 100%;
  background-color: #ebfcfc;
  margin-top: 40px;

  .fol1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: 2rem;

    P{
      display: flex;
      //flex-direction: column;
      justify-content: center;
      justify-content: center;
      //font-size: 2rem;
      margin: 1% 0%;
    }
    //.border1();
  };

  .fol2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 5%;
    font-size: 2rem;
    margin-left: 47%;

    a{
      display: flex;
      //flex-direction: column;
      justify-content: center;
      justify-content: center;
      //font-size: 2rem;
      margin-left: 20%;
      margin-top: 1%;
    }
    //.border1();
  };
};

.foot{
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color: #ebfcfc;
  

  p{
    text-decoration: none;
    margin-top: 1%;
  }
};
