/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Montserrat', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #f2f2f2;
  
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
//container
.container {
    max-width: 1200px;
    //width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
    //.border2();
    //height: 1000px;
  }


//mixins
.border1(){
    border: 2px solid red;
}
.border2(){
    border: 2px solid blue;
}
.border3(){
    border: 2px solid green;
}
.border4(){
    border: 2px solid yellow;
}
.border4(){
    border: 2px solid orangered;
}


// code below

.hero {
  //Sizing
  width: 100vw;
  height: 100vh;
  
  //Background styles
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), 
  url("https://images.pexels.com/photos/772803/pexels-photo-772803.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  //Flexbox
  display: flex;
  justify-content: center;
  //align-items: center;
  //.border3();

  //TOP NAV BAR
.topBar{
  display: flex;
  width: 100vw;
  height: 80px;
  position: fixed;
  
  background-color: #14162b;

  //GIVE A BOTTOM BORDER WITH SHADE
  //.border1();

  .logo{
      display: flex;
      width: 50%;
      //.border3();
      img{
          margin-top: 1.5%;
          margin-left: 20%;
          width: auto;
          height: 60px;
          //.border3();
      }
  };

  

  .navBar{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      //margin-right: 2%;
      margin-left: 25%;

      width: 20%;
      //.border2();
      
      a{
      font-size: 2rem;
      text-decoration: none;
      background-color: transparent;
      color: white;

      
      };

      a:hover {
        color: rgb(199, 1, 133) ;
        //background-color: #cfc ;
      };
  }
};

//END TOP NAV BAR

  .logo{
    height: 100px;
    width: 0 auto;
    //.border3();
  }
  
  .hero-inner{
    //Text styles
    margin-top: 400px;
    font-size: 2rem;
    text-align: center;
    color: white;
    height: 200px;
    //.border3();

    h2{
      margin-top: 2%;
      margin-bottom: 2%;
    }

    //BUTTON
    .myButton {
      -moz-box-shadow:inset 0px 1px 3px 0px #ffffff;
      -webkit-box-shadow:inset 0px 1px 3px 0px #ffffff;
      box-shadow:inset 0px 1px 3px 0px #ffffff;
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
      background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
      background-color:#ffffff;
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      border-radius:6px;
      border:1px solid #dcdcdc;
      display:inline-block;
      cursor:pointer;
      color:#666666;
      font-family:Arial;
      font-size:23px;
      font-weight:bold;
      padding:14px 74px;
      text-decoration:none;
      text-shadow:1px 2px 2px #ffffff;
    }
    .myButton:hover {
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
      background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
      background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
      background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
      background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
      background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
      background-color:#f6f6f6;
    }
    .myButton:active {
      position:relative;
      top:1px;
    }

    .myButton:hover {
      color: rgb(199, 1, 133) ;
      //background-color: #cfc ;
    };
  
    
    };
  
};

//exploreText

.exploreText{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 2%;
  font-size: 3rem;
  color: white;
  background-color: #14162b;
  height: 80px;
  margin-top: 40px;
};

.explore{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ebfcfc;
  

  //height: 500px;

  .panel1 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    //.border2();
    
    img{
      width: 30%;
      height: auto;
      //.border3();
    };

    p{
      display: flex;
      justify-content: center;
      align-content: center;
      width: 50%;
      font-size: 3rem;
      padding-top: 15%;
      //.border4();
    }
  }

  .panel2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
    //.border2();
    
    img{
      width: 30%;
      height: auto;
      //.border3();
    };

    p{
      display: flex;
      justify-content: center;
      align-content: center;
      width: 50%;
      font-size: 3rem;
      padding-top: 15%;
     // .border4();
    }
  }

  .panel3 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    //.border2();
    
    img{
      width: 40%;
      height: auto;
      //.border3();
    };

    p{
      display: flex;
      justify-content: center;
      align-content: center;
      width: 50%;
      font-size: 3rem;
      padding-top: 7%;
      //.border4();
    }
  }

  .panel4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
    //.border2();
    
    img{
      width: 40%;
      height: auto;
      //.border3();
    };

    p{
      display: flex;
      justify-content: center;
      align-content: center;
      width: 50%;
      font-size: 3rem;
      padding-top: 2%;
      //.border4();
    }
  }


};


//Gallery Below
.galleryText{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 2%;
  font-size: 2.5rem;
  color: white;
  background-color: #14162b;
  height: 80px;
  margin-top: 40px;
};

.ourTours{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ebfcfc;
  height: 1000px;
  

  //height: 500px;

  .tour1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    //.border1();
    
    .img1{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      //.border4();

      img{
        width: 65%;
        height: auto;
      };

    };
  };

  .tour2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
   // .border2();
    
    .img1{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      //.border4();
      
      img{
        width: 70%;
        height: auto;
      };
    };
  };
};

//TOURS
.tours{
  display: flex;
  flex-direction: column;
  background-color: #14162b;
  height: 100px;
  color: white;
  margin-top: 40px;
  //margin-bottom: 20px;

  h2{
      display: flex;
      justify-content: center;
      //align-content: center;
      width: 100%;
      font-size: 3rem;
      padding-top: 1%;
      //.border4();
  };

  p{
      display: flex;
      justify-content: center;
      //align-content: center;
      width: 100%;
      font-size: 2rem;
      padding-top: 1%;
      //.border4();
  };
  

  //.border3();
};

//socials below
.socials{
  display: flex;
  flex-direction: column;
  //justify-content: center;
  width: 100%;
  background-color: #ebfcfc;
  margin-top: 40px;

  .fol1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: 2rem;

    P{
      display: flex;
      //flex-direction: column;
      justify-content: center;
      justify-content: center;
      //font-size: 2rem;
      margin: 1% 0%;
    }
    //.border1();
  };

  .fol2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 5%;
    font-size: 2rem;
    margin-left: 47%;

    a{
      display: flex;
      //flex-direction: column;
      justify-content: center;
      justify-content: center;
      //font-size: 2rem;
      margin-left: 20%;
      margin-top: 1%;
    }
    //.border1();
  };
};

.foot{
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color: #ebfcfc;
  

  p{
    text-decoration: none;
    margin-top: 1%;
  }
};